.Header {
    text-align: left;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    background-color: #121212;
    display: flex;
    color: #C70039;
    border-bottom: 3px solid #0038c6;
    justify-content: space-between;
    align-items: center;
  }


.header-chart {
    width: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
